USE [master]
GO
/****** Object:  Database [DataWarehouse_Laitier]    Script Date: 22/09/2025 14:17:23 ******/
CREATE DATABASE [DataWarehouse_Laitier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataWarehouse_Laitier', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataWarehouse_Laitier.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataWarehouse_Laitier_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataWarehouse_Laitier_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataWarehouse_Laitier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataWarehouse_Laitier]
GO
/****** Object:  Table [dbo].[Dim_Entreprise]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Entreprise](
	[id_entreprise] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NULL,
	[localisation] [varchar](255) NULL,
	[effectif] [int] NULL,
	[chiffre_affaires_million_euros] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_entreprise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Produit]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Produit](
	[id_produit_dim] [int] IDENTITY(1,1) NOT NULL,
	[titre] [varchar](255) NULL,
	[gramage] [varchar](255) NULL,
	[id_type_produit] [int] NULL,
 CONSTRAINT [PK__Dim_Prod__E4A6FB9F791D6242] PRIMARY KEY CLUSTERED 
(
	[id_produit_dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Societe]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Societe](
	[id_societe] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NULL,
	[SIREN] [varchar](255) NULL,
	[dirigeants] [varchar](255) NULL,
	[date_creation] [varchar](255) NULL,
	[forme_juridique] [varchar](255) NULL,
	[statut] [varchar](255) NULL,
	[code_APE] [varchar](255) NULL,
	[adresse] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_societe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Temps]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Temps](
	[id_temps] [int] IDENTITY(1,1) NOT NULL,
	[annee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_temps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Type_Produit_Laitier]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Type_Produit_Laitier](
	[id_type_produit] [int] IDENTITY(1,1) NOT NULL,
	[categorie] [varchar](255) NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK__Dim_Type__24D78853199D20CA] PRIMARY KEY CLUSTERED 
(
	[id_type_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Usine]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Usine](
	[id_usine] [int] IDENTITY(1,1) NOT NULL,
	[rang] [int] NULL,
	[raison_sociale] [varchar](255) NULL,
	[zone_geographique] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fait_Consommation_Laitiere]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fait_Consommation_Laitiere](
	[id_consommation] [int] IDENTITY(1,1) NOT NULL,
	[id_temps] [int] NULL,
	[quantite_lait] [float] NULL,
	[quantite_fromage] [float] NULL,
	[quantite_yaourt] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consommation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fait_Exportations_Laitieres]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fait_Exportations_Laitieres](
	[id_exportation] [int] IDENTITY(1,1) NOT NULL,
	[id_temps] [int] NULL,
	[volume_exporte] [float] NULL,
	[valeur_exportation] [float] NULL,
	[variation_annuelle] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exportation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fait_Production_Laitiere]    Script Date: 22/09/2025 14:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fait_Production_Laitiere](
	[id_production] [int] IDENTITY(1,1) NOT NULL,
	[id_temps] [int] NULL,
	[lait_collecte] [float] NULL,
	[beurre] [float] NULL,
	[fromage] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_production] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_Entreprise] ON 

INSERT [dbo].[Dim_Entreprise] ([id_entreprise], [nom], [localisation], [effectif], [chiffre_affaires_million_euros]) VALUES (56, N'Andros', N'biars sur cere', 12000, 3000)
INSERT [dbo].[Dim_Entreprise] ([id_entreprise], [nom], [localisation], [effectif], [chiffre_affaires_million_euros]) VALUES (57, N'Danone', N'Paris', 100000, 25000)
INSERT [dbo].[Dim_Entreprise] ([id_entreprise], [nom], [localisation], [effectif], [chiffre_affaires_million_euros]) VALUES (58, N'Lactalis', N'Laval', 80000, 20000)
SET IDENTITY_INSERT [dbo].[Dim_Entreprise] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Produit] ON 

INSERT [dbo].[Dim_Produit] ([id_produit_dim], [titre], [gramage], [id_type_produit]) VALUES (2346, N'Bûche de chèvre fondante', N'185g', NULL)
INSERT [dbo].[Dim_Produit] ([id_produit_dim], [titre], [gramage], [id_type_produit]) VALUES (2347, N'Bâtonnets de fromage Ã  effilocher Ã  l''emmental', N'168g', NULL)
INSERT [dbo].[Dim_Produit] ([id_produit_dim], [titre], [gramage], [id_type_produit]) VALUES (2348, N'Bâtonnets de fromage Ã  effilocher nature', N'168g', NULL)
GO
SET IDENTITY_INSERT [dbo].[Dim_Produit] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Societe] ON 

INSERT [dbo].[Dim_Societe] ([id_societe], [nom], [SIREN], [dirigeants], [date_creation], [forme_juridique], [statut], [code_APE], [adresse]) VALUES (188, N'CILAM L&J', N'518 419 445', N'COMPAGNIE LAITIERE DES MASCAREIGNES', N'09 décembre 2009', N'Société par actions simplifiée', N'Active', N'1051A - Fabrication de lait liquide et de produits frais', N'COMPAGNIE LAITIERE DES MASCAREIGNES')
INSERT [dbo].[Dim_Societe] ([id_societe], [nom], [SIREN], [dirigeants], [date_creation], [forme_juridique], [statut], [code_APE], [adresse]) VALUES (189, N'CILAM PLF', N'518 346 473', N'COMPAGNIE LAITIERE DES MASCAREIGNES', N'03 décembre 2009', N'Société par actions simplifiée', N'Active', N'1051A - Fabrication de lait liquide et de produits frais', N'COMPAGNIE LAITIERE DES MASCAREIGNES')
INSERT [dbo].[Dim_Societe] ([id_societe], [nom], [SIREN], [dirigeants], [date_creation], [forme_juridique], [statut], [code_APE], [adresse]) VALUES (190, N'COMPAGNIE LAITIERE DES MASCAREIGNES', N'310 864 038', N'Henri LEBON', N'09 décembre 1971', N'SA Ã  conseil d''administration', N'Active', N'1051A - Fabrication de lait liquide et de produits frais', N'Henri LEBON')
SET IDENTITY_INSERT [dbo].[Dim_Societe] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Temps] ON 

INSERT [dbo].[Dim_Temps] ([id_temps], [annee]) VALUES (1, 2020)
INSERT [dbo].[Dim_Temps] ([id_temps], [annee]) VALUES (2, 2021)
INSERT [dbo].[Dim_Temps] ([id_temps], [annee]) VALUES (3, 2022)
SET IDENTITY_INSERT [dbo].[Dim_Temps] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Type_Produit_Laitier] ON 

INSERT [dbo].[Dim_Type_Produit_Laitier] ([id_type_produit], [categorie], [description]) VALUES (56, N'Beurre', N'Produit Ã  partir de la crème du lait')
INSERT [dbo].[Dim_Type_Produit_Laitier] ([id_type_produit], [categorie], [description]) VALUES (57, N'Creme', N'Liquide a pais obtenu par centrifugation')
INSERT [dbo].[Dim_Type_Produit_Laitier] ([id_type_produit], [categorie], [description]) VALUES (58, N'Fromage', N'Plus de 1200 variétés en France dont 51AOP')
SET IDENTITY_INSERT [dbo].[Dim_Type_Produit_Laitier] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Usine] ON 

INSERT [dbo].[Dim_Usine] ([id_usine], [rang], [raison_sociale], [zone_geographique]) VALUES (650, 1, N'DANONE PRODUITS FRAIS FRANCEFERRIERES-EN-BRAY', N'eine-Maritime (76) - Normandie')
INSERT [dbo].[Dim_Usine] ([id_usine], [rang], [raison_sociale], [zone_geographique]) VALUES (651, 10, N'FROMAGERIES BEL PRODUCTION FRANCESABLE-SUR-SARTHE', N'arthe (72) - Pays de la Loire')
INSERT [dbo].[Dim_Usine] ([id_usine], [rang], [raison_sociale], [zone_geographique]) VALUES (652, 100, N'SOCIETE FROMAGERE DE CRAONCRAON', N'ayenne (53) - Pays de la Loire')
SET IDENTITY_INSERT [dbo].[Dim_Usine] OFF
GO
SET IDENTITY_INSERT [dbo].[Fait_Consommation_Laitiere] ON 

INSERT [dbo].[Fait_Consommation_Laitiere] ([id_consommation], [id_temps], [quantite_lait], [quantite_fromage], [quantite_yaourt]) VALUES (34, 1, 48, 25.5, 21)
INSERT [dbo].[Fait_Consommation_Laitiere] ([id_consommation], [id_temps], [quantite_lait], [quantite_fromage], [quantite_yaourt]) VALUES (35, 2, 47, 26, 20.8)
INSERT [dbo].[Fait_Consommation_Laitiere] ([id_consommation], [id_temps], [quantite_lait], [quantite_fromage], [quantite_yaourt]) VALUES (36, 3, 46, 26.2, 20.5)
SET IDENTITY_INSERT [dbo].[Fait_Consommation_Laitiere] OFF
GO
SET IDENTITY_INSERT [dbo].[Fait_Exportations_Laitieres] ON 

INSERT [dbo].[Fait_Exportations_Laitieres] ([id_exportation], [id_temps], [volume_exporte], [valeur_exportation], [variation_annuelle]) VALUES (34, 2, 2.9, 9.2, 2)
INSERT [dbo].[Fait_Exportations_Laitieres] ([id_exportation], [id_temps], [volume_exporte], [valeur_exportation], [variation_annuelle]) VALUES (35, 3, 2.8, 9.1, -1.1)
INSERT [dbo].[Fait_Exportations_Laitieres] ([id_exportation], [id_temps], [volume_exporte], [valeur_exportation], [variation_annuelle]) VALUES (36, 4, 2.7, 8.98, -1.3)
SET IDENTITY_INSERT [dbo].[Fait_Exportations_Laitieres] OFF
GO
SET IDENTITY_INSERT [dbo].[Fait_Production_Laitiere] ON 

INSERT [dbo].[Fait_Production_Laitiere] ([id_production], [id_temps], [lait_collecte], [beurre], [fromage]) VALUES (67, 1, 25000, 430, 1900)
INSERT [dbo].[Fait_Production_Laitiere] ([id_production], [id_temps], [lait_collecte], [beurre], [fromage]) VALUES (68, 2, 24800, 428, 1910)
INSERT [dbo].[Fait_Production_Laitiere] ([id_production], [id_temps], [lait_collecte], [beurre], [fromage]) VALUES (69, 3, 24600, 425, 1920)
SET IDENTITY_INSERT [dbo].[Fait_Production_Laitiere] OFF
GO
ALTER TABLE [dbo].[Dim_Produit]  WITH CHECK ADD  CONSTRAINT [FK__Dim_Produ__id_ty__5535A963] FOREIGN KEY([id_type_produit])
REFERENCES [dbo].[Dim_Type_Produit_Laitier] ([id_type_produit])
GO
ALTER TABLE [dbo].[Dim_Produit] CHECK CONSTRAINT [FK__Dim_Produ__id_ty__5535A963]
GO
ALTER TABLE [dbo].[Fait_Consommation_Laitiere]  WITH CHECK ADD FOREIGN KEY([id_temps])
REFERENCES [dbo].[Dim_Temps] ([id_temps])
GO
ALTER TABLE [dbo].[Fait_Exportations_Laitieres]  WITH CHECK ADD FOREIGN KEY([id_temps])
REFERENCES [dbo].[Dim_Temps] ([id_temps])
GO
ALTER TABLE [dbo].[Fait_Production_Laitiere]  WITH CHECK ADD FOREIGN KEY([id_temps])
REFERENCES [dbo].[Dim_Temps] ([id_temps])
GO
USE [master]
GO
